body {
    font-family: "Trirong", serif;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

.main {
    width: 800px;
    margin: auto;
}

nav ul {
    list-style-type: none;
}


.style1 .header {
    background-color: #4CAF50;
    color: white;
    border-radius: 3px;
    padding: 10px;
}

.style2 .header {
    background-color: #df6e23;
    color: white;
    border-radius: 3px;
    padding: 10px;
}

.form fieldset {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    border: none;
    padding: 0;
}

.form fieldset .error {
    margin-left: 10px;
    font-size: 0.8em;
    color: red;
}