@model TMS.NET06.Parfume.Manager.MVC.Data.Models.Brand

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Brand</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BrandId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
